<p id="notice"><%= notice %></p>

<h1>Feds</h1>

<%= maxLen %>

<table>

  <thead>
    <tr>
      <th>Buyer</th>
      <th>Date</th>
      <th colspan="<%=maxLen%>">Ate</th>
    </tr>
  </thead>

  <tbody>
    <% @feds.each do |fed| %>
      <tr>
	<td><%=fed.buyer%></td>
	<td><%=fed.date%></td>
	<%for i in fed.ate %>
	  <% if i != false %>
	    <td bgcolor="#00FF00">
	  <% else %>
	    <td bgcolor="#FF0000">
	  <%end %>
	  <%= i %>
	    </td>
	<% end %>
	<td><%= link_to 'Show', fed %></td>
        <td><%= link_to 'Edit', edit_fed_path(fed) %></td>
        <td><%= link_to 'Destroy', fed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end%>
  </tbody>


  <% if false%>
  <tbody>
    <% @feds.each do |fed| %>
      <tr>
        <td><%= fed.date %></td>
        <td><%= fed.buyer %></td>
        <td><%= fed.ate %></td>
        <td><%= link_to 'Show', fed %></td>
        <td><%= link_to 'Edit', edit_fed_path(fed) %></td>
        <td><%= link_to 'Destroy', fed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

  <% end %>
</table>

<br>

<%= link_to 'New Fed', new_fed_path %>
